{% extends 'singlepage/single_base.html' %}

{% block main-content %}

<div class="scene row">
        <div class="columns medium-6">
                <ul class="list"><li></li></ul>
        </div>
        <div class="columns medium-6">
                <div class="content">
                        {{singlepage.body|safe}}
                        <h2 class="profile_services">Services</h2>
                        <ul class="list">
                                <li>Art Direction</li>
                                <li>Branding</li>
                                <li>Book Design</li>
                                <li>Creative Content</li>
                                <li>Editorial Design</li>
                                <li>Motion Graphics</li>
                                <li>Packing</li>
                                <li>Type Design</li>
                                <li>Web Design</li>
                        </ul>
                </div>
        </div>
</div>

{% endblock %}