<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 404 - Page Not found!</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<span style="text-align:center;"> 
    <p class="help_text"> Hey! You seem to have got lost. Wish to go back? Hold the tail... </p>
        <a class="elephant" href="/"> <br/> <img src="https://s-media-cache-ak0.pinimg.com/736x/b0/20/a6/b020a6ace2a9eb7c59162f00b26d29b7.jpg" alt="Baby Elephant" width="250" height="250"> </a>
</span>
</body>
</html> 